@font-face{
    font-family: norms;
    src: url(../fontes/norms.otf);
}
*{/*reset*/
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
h1{
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 35px;
    cursor: default;
}
body{
    background-color: #FDD447;
    font-family: norms;
}
.principal-main{
    height: 80vh;;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#painel{
   height: 67vh;
}
.btn-estilo1, .btn-estilo2{
    width: 150px;
    height: 45px;
    border-radius: 20px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
.btn-estilo2{
    margin-left: 12px;
    opacity: 0.6;
}
.btn-estilo2:hover{
    opacity: 1;
    transition: 1s;
}
a{
    color: #ffff;
    text-decoration: none;
    transition: 0.3s;
}
a:hover{
    opacity: 0.7;
}
.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
#logo-img{
    width: 60px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e7ba1e;
    height: 8vh;
}
.nav-list{
    list-style: none;
    display: flex;
}
.nav-list li{
    letter-spacing: 4px;
    margin-left: 32px;
}
.mobile-menu div{
    width: 32px;
    height: 4px;
    background: black;
    margin: 8px;
    transition: 0.3s;
}
.mobile-menu{
    cursor: pointer;
    display: none;
}
@media (max-width: 999px) {
    body{
        overflow-x: hidden; 
    };
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 40vw;
        height: 92vh;
        background: #FDD447;
        color: #ffff;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu{
        display: block;
    }
}
.nav-list.active{
    transform: translateX(0);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(0);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2{
    opacity: 0;
}
.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}
h2{
    margin-bottom: 70px;
    text-align: center;
    font-size: 2.3rem;
    cursor: default;
}
.img-section{
    margin: 12px;
    width: 18vw;
    height: 23vw;
}
span{
    text-align: center;
    font-size: 1.7rem;
    margin: 0 30px 0 0;
    cursor: default;
}
.container{
    display: flex;
    width: 100vw;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
}
.btn3{
    width: 500px;
    height: 45px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.30rem;
}
a{
    color: black;
    font-weight: 300;
}
.section-secundario{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 25vh;
}
h3{
    margin: 30px 0 55px 75px;
    margin: 100px 0 55px 75px;
    font-size: 2.3rem;
    cursor: default;
}
.i{
    width: 6.5vw;
    height: 6.5vw;
    width: 5vw;
    height: 5vw;
}
.section-terciario{
    display: flex;
    flex-direction: column;
}
.div-section-1{
    margin-left: 25px;
    margin-left: 75px;
    height: 12vw;
}
.div-section-2{
    margin: 0 auto;
    height: 12vw;
}
.div-section-3{
    margin-left: auto;
    height: 12vw;
}
.btn4{
    margin-bottom: 1.1rem;
    width: 160px;
    height: 45px;
    width: 175px;
    height: 50px;
    border-radius: 20px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.30rem;
}
.section-quaternario{
    padding: 3vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 25vh;
}
/* estilização do alugar.php */
#caixa{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.principal{
    width: 80vw;
    height: 40vw;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}
.caixa-filha1{
    width: 32vw;
    height: 38vw;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}
.caixa-filha2{
    width: 40vw;
    height: 38vw;
    padding: 25px 25px 25px 0;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#produto{
    width: 28vw;
}
.nome-produto{
    text-align: center;
    cursor: default;
    font-size: 1.2rem;
}
.caixinha{
    display: flex;
    justify-content: space-around;
}
label{
    font-weight: 700;
}
.dias{
    width: 80px;
    height: 40px;
    outline: none;
    border:2px solid black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: 1.1rem;
    cursor: pointer;
}
.valor{
    color: #FF3131;
    font-weight: 700;
    cursor: default;
    font-size: 1.025rem;
}
.descricao{
    margin: 0 0 0 65px;
    font-size: 1.1rem;
}
.bts{
    display: flex;
    justify-content: center;
}
.btn5{
    margin-right: 12px;
    background-color: #ABDBEF;
    border: none;
    font-size: 1rem;
    padding: 10px 35px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
}
.btn6{
    background-color: #FFD237;
    border: none;
    font-size: 1.1rem;
    padding: 5px 55px;
    border-radius: 8px;
    cursor: pointer;
}
.btn5:hover{
    transition: 0.2s;
    background-color: #89c9e3;
}
.btn6:hover{
    transition: 0.2s;
    background-color: #e7ba1e;
}