*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
}

.cabecalho-imagem{
    width: 100px;
    height: 51px;
    border-radius: 20px;
    padding-left: 50px;
}