/*Iplementação de fontes*/
@font-face{
    font-family: norms;
    src: url(../fontes/norms.otf);
}

/*Reset*/
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
/*Geral do body e estilização do main e conteúdo do site*/
body{
    background-color: #FDD447;
    font-family: norms;
    overflow-x: hidden;
}
/*Estilizando o header*/
h1{
    font-size: 5vw;
    font-weight: 400;
    margin-bottom: 35px;
    cursor: default;
}
header{
    display: flex;
    width: 100vw;
    height: 8vh;
    padding: 25px;
    align-items: center;
}

/*Barra de navegação*/
.navlinks a{
    text-decoration: none;
    font-size: 14px;
    color: white;
}
.navlinks{
    background: #f3c93f;
}
.navbar .menu-active{
    transform: translateX(0%);
	opacity: 1;
}

.MenuIcon span{
    display: block;
    cursor: pointer;
    border-radius: 10px;
    width: 25px;
    height: 5px;
    background: #000;
    margin: 4px;
    transition: all 0.4s ease;
}

@keyframes navLinkANime {/*Animação para span mostrando meios no site.*/
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.span-anime span:first-child {
	transform: rotate(-135deg) translate(-20px, 6px);
	margin-left: -18px;
}

.span-anime span:nth-child(2) {
	opacity: 0;
}

.span-anime span:last-child {
	transform: rotate(135deg) translate(-19px, -5px);
	margin-left: -17px;
}

.boxpesquisa{
    align-items: center;
    height: 8vh;
    display: flex;
}
.lupa{
    cursor: pointer;
    margin-left: 10px;
    width: 30px;
}
.btn7{
    background-color: inherit;
    border: none;
}
.areapesquisa{
    width: 430px;
    border: none;
    height: 38px;
    outline: none;
    font-family: norms, sans-serif;
    border-radius: 6px;
    padding-left: 8px;
}
.nav1{
    width: 45vw;/*primeira parte da largura*/
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: space-between;
}
.nav2{
    width: 55vw;/*restante da largura*/
    display: flex;
    height: 8vh;
    align-items: center;
    justify-content: flex-end;
}
.logo{
    display: inline;
    margin-top: 3px;
    cursor: default;
    margin-right: 15px;
}
.logomarca{
    display: flex;
    align-items: center;
}
.spa{
    cursor: pointer;
    display: inline;
    margin-top: 3px;
}
.car{
    width: 22px;
    cursor: pointer;
}


.principal-main{
    height: 92vh;;
    display: flex;
    justify-content: center;
    align-items: center;
}
#painel{
   height: 67vh;
   margin-left: 8vw;
}
.btn-estilo1, .btn-estilo2{
    width: 12vw;
    height: 3.5vw;
    border-radius: 200px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
}
.btn-estilo2{
    margin-left: 12px;
    opacity: 0.6;
}
.btn-estilo2:hover{
    opacity: 1;
    transition: 1s;
}
h2{
    margin-bottom: 70px;
    text-align: center;
    font-size: 2.3rem;
    cursor: default;
}
.img-section{
    margin: 12px;
    width: 18vw;
    height: 23vw;
    border-radius: 8px;
    cursor: pointer;
}
/*se eu sobrepor o mouse na imagem ou na carta o tamanho aumentará*/
.img-section:hover{
    transition: 0.3s;
    transform: scale(102%);
}
.card:hover{
    transition: 0.6s;
    color: white;
}
span{
    text-align: center;
    font-size: 1.7rem;
    margin: 0 30px 0 0;
    cursor: pointer;
}
.container{
    display: flex;
    width: 100vw;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
}
.btn3{
    width: 500px;
    height: 45px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.30rem;
}
a{
    color: black;
    font-weight: 300;
}
.section-secundario{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 25vh;
}
h3{
    margin: 100px 0 55px 75px;
    font-size: 2.3rem;
    cursor: default;
}
.i{
    width: 5vw;
    height: 5vw;
}
.section-terciario{
    display: flex;
    flex-direction: column;
}
.div-section-1{
    margin-left: 75px;
    height: 12vw;
}
.div-section-2{
    margin: 0 auto;
    height: 12vw;
}
.div-section-3{
    margin-left: auto;
    height: 12vw;
}
.btn4{
    margin-bottom: 1.1rem;
    width: 175px;
    height: 50px;
    border-radius: 20px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.30rem;
}
.section-quaternario{
    padding: 3vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 25vh;
}
/* estilização do alugar.php */
#caixa{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.principal{
    width: 80vw;
    height: 40vw;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}
.caixa-filha1{
    width: 32vw;
    height: 38vw;
    padding: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}
.caixa-filha2{
    width: 40vw;
    height: 38vw;
    padding: 25px 25px 25px 0;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#produto{
    width: 28vw;
}
.nome-produto{
    text-align: center;
    cursor: default;
    font-size: 1.2rem;
}
.caixinha{
    display: flex;
    justify-content: space-around;
}
label{
    font-weight: 700;
}
.dias{
    width: 80px;
    height: 40px;
    outline: none;
    border:2px solid black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: 1.1rem;
    cursor: pointer;
}
/*estilização do botão*/
#bt-top
{ 
    position: fixed; 
    bottom: 20px; 
    scroll-behavior: smooth;
    right: 20px;
    z-index: 9999; 
    padding: 10px; 
    background-color: #706901; 
    color: #fff; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
}
#bt-top:hover
{
    background-color: #3a3600;
}
.valor{
    color: #FF3131;
    font-weight: 700;
    cursor: default;
    font-size: 1.025rem;
}
.descricao{
    margin: 0 0 0 65px;
    font-size: 1.1rem;
}
.bts{
    display: flex;
    justify-content: center;
}
.btn5{
    margin-right: 12px;
    background-color: #ABDBEF;
    border: none;
    font-size: 1rem;
    padding: 10px 35px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
}
.btn6{
    background-color: #FFD237;
    border: none;
    font-size: 1.1rem;
    padding: 5px 55px;
    border-radius: 8px;
    cursor: pointer;
}
.btn5:hover{
    transition: 0.2s;
    background-color: #89c9e3;
}
.btn6:hover{
    transition: 0.2s;
    background-color: #e7ba1e;
}
.id{
    text-align: end;
    margin-right: 25px;
    cursor: default;
}


/*Estilização Rodapé do site*/

footer{
    background: #f3c93f;
    width: 100vw;
    height: 500px;
}

footer .footer__flex{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding: 7vw;
}

footer .footer__flex ul{
    list-style: none;   
}

footer .footer__flex  ul h1{
    font-size: 2rem;
}

footer .footer__flex  ul h2{
    display: flex;
    align-items: center;
}

footer .footer__flex h2 img{
    width: 2.2rem;
}

footer .footer__flex  ul h3{
    font-size: 1rem;
    margin: 0rem 0rem 1rem 0rem;
}
footer .footer__flex  ul a:hover{
    cursor: pointer;
    color: white;
}

footer .footer__flex ul p{
    margin-bottom: .5rem;
}

footer .footer__flex ul .pmargin{
    margin-top: 3rem;
}

footer .last{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* aqui inicia a estilização do estoque.php */
.container-estoque{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#stock{
    font-weight: 900;
    margin: 30px 0 20px 10px;
    text-align: start;
    font-size: 30px;
    padding-left: 50px;
}
.img-ferramenta{
    width: 20vw;
    background-color: white;
    height: 22vw;
    padding: 15px;
    border-radius: 15px;
}
.ferramenta{
    display: flex;
    flex-direction: column;
    padding: 0.5rem 2rem;
}

.nome-ferramenta{
    padding-top: 12px;
    font-size: 20px;
    font-weight: 600;
    display: block;
    flex-direction: row;
    text-align: center;
}
/*butão de ver mais...*/

.container-button{
    display: flex;
    width:100vw;
    justify-content: center;
}
.vermais-btn{
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 15px;
    margin: 30px;
    cursor: pointer;
    font-size: 1.1rem;
    background-color: white;
}
.vermais-btn:hover{
    transition: 0.4s;
    transform: scale(102%);
}